.horseCard {
  width: 260px;
  height: 405px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: $shadowCard;

  & img {
    width: 200px;
    height: 200px;
    margin: 0 0 10px;
  }

  & button {
    margin: 20px 0 0;
  }

  & h4 {
    margin: 8px 0;
  }

  & h3 {
    margin: 8px 0;
  }
}