.dash_vehicle_elements {
  width: 35vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  & .clearButton {
    color: $secondaryTextColor;
    font-size: 16px;
    font-weight: 400;
    font-family: $textFont;
    background: none;
    cursor: pointer;

    &:hover {
      color: $accentColor;
    }
  }

  &_list {
    height: 115px;
    width: 400px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    box-shadow: $shadowCard;
    background-color: white;

    &_image {
      img {
        object-fit: cover;
        height: 80px;
        width: 80px;
        border-radius: 6px;
      }
    }

  }

  .more_vehicles {
    width: 13vw;
    text-align: center;
    color: $secondaryTextColor;
    transition: all 0.2s ease-in;

    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
}