  .horseListPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100%;

    .filtersContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      flex-direction: row;
      height: 112px;
      border-radius: 10px;
      padding: 30px;
      width: 100%;
      box-shadow: $shadowCard;
      background-color: white;

      .filters {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
      }

      .label {
        font-weight: 700;
        color: $accentColor;
      }

      label {
        font-family: $textFont;
        color: $accentColor;
        padding: 4px 20px;
      }

      .typeFilter {
        display: flex;
        flex-direction: column;
      }

      .dropdown {
        width: 150px;
        color: $primaryTextColor;
        border: none;
        border-radius: 4px;
        font-family: $textFont;

        #react-select-2-listbox {
          >div>div:hover {
            background-color: $backgroundColor;
          }
        }

        >div {
          border: 1px solid $secondaryTextColor;

          >div>div {
            background-color: #ffffff;

            >div {
              font-family: $textFont;
              font-size: 16px;
            }

            >div[role=button]:hover {
              color: $accentColor;
              background-color: $backgroundColor;
            }
          }
        }

        &>div:focus {
          outline: 1.5px solid $accentColor;
        }
      }

      & input[type=date]:focus {
        outline: 1.5px solid $accentColor;
      }

      & .calendarsBox {
        display: flex;
        gap: 20px;

        & div {
          display: flex;
          flex-direction: column;
        }

        & input {
          height: 38px;
          width: 130px;
          border: 1px solid $secondaryTextColor;
          border-radius: 4px;
          padding: 0 20px;
          align-items: center;
          background-color: white;
        }
      }

      .buttons {
        display: flex;
        gap: 20px;

        .clearButton {
          background: none;
          font-family: $textFont;
          color: $secondaryTextColor;
          font-weight: 400;
          font-size: 16px;
          cursor: pointer;

          &:hover {
            color: $accentColor;
          }

        }
      }
    }

    .horseList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px;
      width: 100%;
    }
  }