.rightContainer {
  display: flex;
  flex-direction: column;

  .dashboard {
    display: flex;
    align-items: center;
    margin: 0px 150px 0px 500px;
    margin-top: -50px;
    gap: 60px;
    flex-direction: column;
    padding-bottom: 80px;

    & .hr1 {
      width: 100%;
      border: 0.5px solid $secondaryTextColor;
    }

    & .stat {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 60px;
      margin-top: -30px;
    }

    & .userstat {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      width: 100%;
    }

    & .hr2 {
      width: 100%;
      border: 0.5px solid $secondaryTextColor;
    }
  }
}