.horseListPage {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  background-color: $backgroundColor ; // comment this later

  & .horseList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    background: none;
  }

  & .filtersBox {
    height: 112px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 6px grey; // delete this later
    // box-shadow: $shadowCard;

    & .filters {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;

      & label {
        font-family: $textFont;
        padding: 4px 20px;
      }

      & .typeFilter {
        display: flex;
        flex-direction: column;
      }

      & .dropdown {
        width: 300px;
        color: $primaryTextColor;
        border: 1px solid $secondaryTextColor;
        border-radius: 4px;

      }

      & .calendarsBox {
        display: flex;
        gap: 20px;

        & div {
          display: flex;
          flex-direction: column;
        }

        & input {
          height: 38px;
          width: 200px;
          border: 1px solid $secondaryTextColor;
          border-radius: 4px;
          padding: 0 20px
        }
      }
    }
  }
}