@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Sans:wght@300;400;500;600;700;800&display=swap");

$secondaryTextColor: #b5c5f4;
$backgroundColor: #f3f6ff;
$accentColor: #5871bd;
$primaryTextColor: #00062b;
$buttonColor: #d9a25f;
$hoverColor: #bf8415;
$shadowCard: 4px 4px 20px rgba(181, 197, 244, 0.25);

$textFont: "Noto Sans", sans-serif;
$titleFont: "DM Serif Display", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgroundColor;
}

a {
  text-decoration: none;
  color: $primaryTextColor;
  font-family: $textFont;
}

h1 {
  font-size: 80px;
  line-height: 92px;
  color: $primaryTextColor;
  font-family: $titleFont;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  line-height: 52px;
  color: $primaryTextColor;
  font-family: $titleFont;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 32px;
  line-height: 42px;
  color: $primaryTextColor;
  font-family: $titleFont;
  letter-spacing: 1px;
}

h4 {
  font-size: 20px;
  line-height: 32px;
  color: $primaryTextColor;
  font-family: $textFont;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: $primaryTextColor;
  font-family: $textFont;
}

.accentText {
  color: $accentColor;
}

.boldText {
  font-weight: 700;
}

small {
  font-size: 13px;
  color: $hoverColor;
  font-family: $textFont;
}

button {
  border-radius: 4px;
  border: 1px $hoverColor;
  font-family: $textFont;
  font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
  all: unset;
  font-family: $textFont;
}

.primaryButton {
  background-color: $buttonColor;
  color: #ffffff;
  height: 50px;
  min-width: 89px;
  width: fit-content;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  padding: 0 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $hoverColor;
  }
}

.secondaryButton {
  background-color: #ffffff;
  color: $buttonColor;
  height: 50px;
  min-width: 89px;
  width: fit-content;
  font-size: 16px;
  transition: 0.3s ease;
  border: 1px solid $buttonColor;
  cursor: pointer;

  &:hover {
    color: $hoverColor;
    border: 1px solid $hoverColor;
  }
}

.primaryContainer {
  display: flex;
  flex-direction: row;
  height: 100%;

  .rightContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    left: 360px;
    width: calc(100% - 360px);

    .rightContainerContent {
      padding: 80px;
      margin-top: -160px;

      @media (min-width: 600px) and (max-width: 1024px) {
        padding: 80px 40px;
        margin-top: -160px;
      }

      @media screen and (max-width: 600px) {
        padding: 80px 20px;
        margin-top: -140px;
      }
    }

    @media screen and (max-width: 1024px) {
      position: inherit;
      width: 100%;
      margin-top: 60px;
    }
  }

  @media screen and (max-width: 1024px) {

    display: flex;
    flex-direction: column;
    height: 100%;

  }
}



@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
    line-height: 52px;
  }
}

@import "./styles/pages/dashboard.scss";
@import "./styles/pages/horseInfo.scss";
@import "./styles/pages/loginPage.scss";
@import "./styles/pages/horseList.scss";

@import "./styles/components/ourVehicles.scss";
@import "./styles/components/sidebar.scss";
@import "./styles/components/navbar.scss";
@import "./styles/components/horseCard.scss";
@import "./styles/components/chart.scss";
@import "./styles/components/presentation.scss";
@import "./styles/components/listUser.scss";
@import "./styles/components/visualLogin.scss";
@import "./styles/components/horsesBanner.scss";
@import "./styles/components/loanList.scss";