// import fonts here : " @import url('...'); "

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Sans:wght@300;400;500;600;700;800&display=swap");

// create variables here : " $variableName : variableValue; "

$lightblue1: #b5c5f4;
$lightblue2: #f3f6ff;
$blue: #5871bd;
$darkblue: #00062b;
$gold: #d9a25f;
$darkgold: #bf8415;

$classicFont: "Noto Sans", sans-serif;
$titleFont: "DM Serif Display", serif;
