.bannerImage {
  position: relative;
  z-index: -1;
  height: 20vh;
  width: 100%;
  overflow: hidden;

  img {
    position: relative;
    top: -250px;
    width: 100%;
    height: auto;

    @media (min-width: 600px) and (max-width: 1024px) {
      top: -100px;
    }

    @media screen and (max-width: 600px) {
      top: -50px;
    }

  }

  @media (min-width: 600px) and (max-width: 1024px) {
    height: 12vh;
  }

  @media screen and (max-width: 600px) {
    height: 14vh;
  }
}