.listuser {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;


  & .listEmp {
    display: flex;
    gap: 30px;
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    a {
      img {
        max-width: 80px;
        max-height: 80px;
        border: 6px solid white;
        border-radius: 50%;
        box-shadow: $shadowCard;
        transition: 0.3s cubic-bezier(0.6, 0.03, 0.28, 0.98);
        transform: scale(1);

        &:hover {
          transition: 0.3s cubic-bezier(0.6, 0.03, 0.28, 0.98);
          transform: scale(1.08);
        }
      }

      p {
        text-align: center;
        color: $accentColor;
      }
    }

    @media screen and (max-width: 600px) {
      padding: 0px 40px;
    }
  }

}