.dash_vehicle_elements {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  .clearButton {
    color: $secondaryTextColor;
    font-size: 16px;
    font-weight: 400;
    font-family: $textFont;
    background: none;
    cursor: pointer;

    &:hover {
      color: $accentColor;
    }
  }

  &_list {
    height: auto;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: $shadowCard;
    background-color: white;
    padding: 30px;

    &_image {
      img {
        height: 80px;
        width: 80px;
        border-radius: 6px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    gap: 20px;
  }
}
