.vehicleOfTheMonthContainer {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  box-shadow: $shadowCard;

  .trophee {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: $backgroundColor;
    width: 180px;
    height: 180px;

    img {
      width: 80%;
      height: 80%;
    }

    @media screen and (max-width: 600px) {
      width: 80px;
      height: 80px;
      margin-bottom: 20px;
    }
  }

  .vehicleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    h3 {
      display: flex;
      justify-content: center;

      @media screen and (max-width: 600px) {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 20px;
      }
    }

    .horseInfo {
      font-weight: 700;
      display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: center;

      .horseCaracteristics {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        p {
          font-weight: 400;

          .label {
            font-weight: 700;
            color: $accentColor;
          }
        }

        @media screen and (max-width: 600px) {
          flex-direction: column;
          gap: 0;
          align-items: flex-start;
          margin-bottom: 20px;
        }
      }
    }
  }

  .horseImage {
    border-radius: 6px;
    width: 180px;
    height: 180px;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}
