.visualLoginContainer {
  position: relative;
  width: 65vw;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;

  video {
    width: auto;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: $accentColor;
    mix-blend-mode: multiply;
    opacity: 0.9;
  }

  svg {
    position: absolute;
    top: 35%;
    left: 40%;
    z-index: 3;
    background-color: transparent;
    animation: flip 1s ease-in-out;

    @keyframes flip {
      0% {
        opacity: 0%;
        transform: scale(0.5);
      }

      100% {
        opacity: 100%;
        transform: scale(1);
      }
    }
  }
}
